div.zentai {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr; /* 3列にする．幅は 1:2:2 の比率*/
    grid-template-rows: 150px 150px 220px 150px;    /* 2行にする．高さはともに 100px */
    grid-gap: 50px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 700px;
}

div.box {
    background: gold;
}